/*
* Custom Buttons
*/

.btn-base {
	padding: 10px 30px;
	border-radius: 0px 15px;
	font-size: .9em;
	transition: all .2s ease-in-out;
	&:hover {
		text-decoration: none;
	}
}

a.btn-custom {
	@extend .btn-base;
	border: solid $gray 1px;
	color: $gray;
	&:hover {
		background-color: $btn-light-gray ;
	}
}

a.btn-custom-orange {
	@extend .btn-base;
	background-color: $orange;
	color: #fff;
}

a.btn-custom-pink {
	@extend .btn-base;
	background-color: $pink;
	color: #fff;
}
a.btn-custom-gray {
	@extend .btn-base;
	background-color: $gray;
	color: #fff;
}

.submit-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0;
}

.submit-btn {
	@extend .btn-base;
	background-color: $pink;
	color: #fff;
	margin: 10px 0;
}

.btn-dark {
	@extend .btn-base;
	background-color: $gray;
	color: #fff;
	margin: 10px 0;
}