/**
* Contacto
*/

.contacto {
	text-align: center;
	padding: 0 5em;
}

form {
	margin: 3em 0;
}

.form-control {
	border: solid $gray 1px;
	border-radius: 0px 15px;
	padding: .8em;
	font-size: .7em;
	margin: .5em;
}
