<header role="banner">
	<div class="decoBoxBack">
			<div class="site-header decoBoxFront">
				<div class="site-logo">
					<a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="/assets/img/site-logo.png" alt="{{ site.title | escape }}"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-toggle">
		<span></span>
	</div>
	<div class="blog-navbar">
		<div class="nav-container transform">
		<nav>
			{% for item in site.data.nav.docs %}
				<a class="nav-link menu-item" href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a>
			{% endfor %}
		</nav>
		</div>
	</div>
</header>
