---
layout: default
---

<div class="home">
	<section class="intro container">
		{%- if page.title -%}
			<h1 class="page-heading">{{ page.title }} </h1>
		{%- endif -%}
		<div class="home-content">
			{{ content }}
		</div>
	</section>
	<section class="proyectos container">
		{%- if site.posts.size > 0 -%}
		<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
		<ul class="post-list">
			{%- for post in site.posts -%}
			<li>
				{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				<span class="post-meta">{{ post.date | date: date_format }}</span>
				<h3>
					<a class="post-link" href="{{ post.url | relative_url }}">
						{{ post.title | escape }}
					</a>
				</h3>
				{%- if site.show_excerpts -%}
				{{ post.excerpt }}
				{%- endif -%}
			</li>
			{%- endfor -%}
		</ul>
		{%- endif -%}
	</section>
		
	<section class="hay-mas container">
		<h2>Aún hay más</h2>
		<p>Esta es solo una pequeña selección. <br>Se pueden encontrar más ejemplos de trabajo en la sección Proyectos.</p>
		<a href="#" class="btn-custom-pink">Proyectos</a>
	</section>
	
	<section class="skew-section">
		<div class="skew-wrap">
			<div class="unskew-content">
				<h2>Soluciones en comunicación gráﬁca</h2>
				<p>Nuestra meta es clara: elevar la visibilidad credibilidad y rentabilidad de nuestros clientes.<br><b>Nuestra pasión: no sólo diseñar, sino; dar vida a conceptos exitosos.</b></p>
				<div class="soluciones-secciones">
					<div>
						<h2>Diseño</h2>
						<p>Hacer parte de la famila MT a cada cliente, así como creer e involucrarnos en cada proyecto da pie a conceptos únicos... con vida propia.</p>
					</div>
					<div>
						<h2>Estrategia</h2>
						<p>No sólo es diseñar... es creer, entender y apostar por las necesidades y retos que implica comunicar e impactar al mercado.</p>
					</div>
					<div>
						<h2>Frescura</h2>
						<p>Lucir bien es importante... impactar, atraer y transmitir de forma clara y acorde a las necesidades del usuario son fundamentales.</p>
					</div>
				</div>
				
				<a href="#" class="btn-custom-gray-transparent">¿Cómo lo hacemos?</a>
			</div>
		</div>
	</section>
	<section class="familia container">
		<h2>Familia MT</h2>
		<div class="familia-items">
			<img src="/assets/img/familia/unidekor.png" alt="Unidekor">
			<img src="/assets/img/familia/altex.png" alt="Altex">
			<img src="/assets/img/familia/walmart.png" alt="Walmart">
			<img src="/assets/img/familia/+=.png" alt="+=">
			<img src="/assets/img/familia/genius.png" alt="Genius">
			<img src="/assets/img/familia/pride-packing.png" alt="Pride Packing">
			<img src="/assets/img/familia/ryg.png" alt="RyG">
			<img src="/assets/img/familia/fortuna.png" alt="Fortuna">
			<img src="/assets/img/familia/salvador-nunez.png" alt="Salvador Nuñez">
			<img src="/assets/img/familia/pancromatico.png" alt="Pancromático Producciones">
		</div>
		
		
	</section>
</div>
