---
layout: default
---

<section class="featured-image">
	<img src="/assets/img/{{ page.featured-image }}" alt="{{ page.cliente }}">
</section>
<div class="container">
	<section class="cliente">
		<h2>{{ page.cliente }}</h2>
		<h3>{{ page.slogan }}</h3>
		<div class="cliente-intro">
			<p>{{ page.intro-1 }}</p>
			<p>{{ page.intro-2 }}</p>
		</div>
	</section>
</div>
<section class="descripcion">
	<div class="descripcion-body">
		<h4>{{ page.descripcion-1.titulo }}</h4>
		<p>{{ page.descripcion-1.body }}</p>
	</div>
	<img src="/assets/img/proyectos/{{ page.descripcion-1.img }}" alt="{{ page.descripcion-1.titulo }}">
</section>
<div class="container">
	<section class="quote-wrapper">
		<h3>En palabras del cliente</h3>
		<div class="quote">
			<p>{{ page.quote.body }}</p>
		</div>
		<div class="quote-author">
			<span class="author">{{ page.quote.autor }}</span><br>
			<span class="title">{{ page.quote.titulo }}</span>
		</div>
	</section>
</div>
<section class="descripcion descripcion-dark">
	<div class="descripcion-body">
		<h4>{{ page.descripcion-2.titulo }}</h4>
		<p>{{ page.descripcion-2.body }}</p>
	</div>
	<img src="/assets/img/proyectos/{{ page.descripcion-2.img }}" alt="{{ page.descripcion-2.titulo }}">
</section>
<div class="container">
	<section>
		<h2>Tenemos más para ti.</h2>
		<p>Queremos compartirte más de nuestro trabajo, y entonces sueñes junto a nosotros.</p>
		<a href="proyectos" class="btn-custom-pink">Proyectos</a>
	</section>
</div>
<section class="skew-section">
	<div class="skew-wrap">
		<div class="unskew-content">
			<h2>Esto apenas empieza</h2>
			<p>El universo de posibilidades se expande segundo a segundo. Explora con nosotros y descubre el abanico de herramientas y soluciones que tenemos para dar vida a ese proyecto que es único y especial para ti.</p>
			<a href="contacto" class="btn-custom-gray-transparent">Diseñemos juntos</a>
		</div>
	</div>
</section>
